extends layout



block content
  div.W_fontInput_box
    input.fontInput
    button.fontCreate 抽取
  div.W_fontShow_box

  div#facebookG
    div#blockG_1.facebook_blockG
    div#blockG_2.facebook_blockG
    div#blockG_3.facebook_blockG
